@model Web.ViewModels.SectionListViewModel
@using Core.Enums.SectionType

<div class="modal modal_multi">
    <!-- Modal content -->
    <div class="custom-modal">
        <span class="close close_multi">×</span>
        <img class="img-fluid border-redious p-3 w-100" src="/images/sustainableImpacts/Read More/DH stands by 72,000 Disadvantaged Families in Khulna _ Barisal-02.png" alt="image">

        <div class="border-redious p-3">
            <h4 class="card-subtitle text-left ">Corona Care</h4>
            <h1 class="card-title text-left ">DH stands by 72,000 Disadvantaged Families in Khulna & Barisal</h1>
            <p class="text-justify">
                Digital Health Care Solutions (DH), in collaboration with UK Aid and under the supervision of Concern Worldwide, has launched a campaign to provide preventive measures against the COVID-19 to the disadvantaged people in Khulna and Barisal who have limited access to healthcare due to them living in very remote areas combined with natural disasters such as flooding and hurricanes which is almost a regular occurrence there.
                <br />
                With a lot of existing suffering, COVID-19 has only added more problems in the lives of these people. Therefore, to bring some relief, DH and UK Aid, along with thousands of communities, government health and social workers in the region, have helped launch the "Corona Care" service which includes Doctor Chat, Doctor Video Call, Corona Insurance and Corona Symptom Checker.
                <br />
                Besides doctor consultations and receiving digital medical prescription through the app or SMS, people can receive medicine delivery and have home sample collection for medical tests via health partners of Digital Hospital as well as having health cashback as coverage for their medical costs.
                <br />
                Using these services more than 72,000 family, health and social workers have been able to access services related to COVID-19, seeking medical advice regularly from experienced MBBS doctors, and checking symptoms through a series of A2I and DGHS symptom testing devices which otherwise would have been quite difficult for them.
                <br />
                The insurance provided by DH and UK Aid to those involved in the project has reduced the cost of testing the Covid-19. As a result, COVID-19 patients are getting financial benefits in the form of isolation, life insurance and hospitalization. They are getting Tk. 5,000 for hospitalization, Tk. 2,000 for home isolation and up to Tk. 20,000 in health cashback including Tk. 10,000 as life insurance.
                <br />
            </p>
        </div>
    </div>
</div>



<div class="modal modal_multi">
    <!-- Modal content -->
    <div class="custom-modal">
        <span class="close close_multi">×</span>
        <img class="img-fluid border-redious p-3 w-100" src="/images/sustainableImpacts/Read More/100,000 Insured with Corona Insurance from DH.png" alt="image">

        <div class="border-redious p-3">
            <h4 class="card-subtitle text-left ">Corona Care</h4>
            <h1 class="card-title text-left ">100,000 Insured with Corona Insurance from DH </h1>
            <p class="text-justify">
                It has become exceedingly difficult for millions of patients to get medical care due to the COVID-19 pandemic which has almost brought the whole world on still in a mere few months. The same happened for Bangladesh, when a countrywide lockdown was announced in late March. Due to this, overnight hundreds of thousands of blue-collar workers were out of work with no other source of income. Not only was their livelihood disrupted, but many of these people had little to no access to healthcare facilities.
                It is during this time, Digital Healthcare Solutions decided to launch Corona Insurance where DH brought 100,000 people under this campaign, by providing services like Doctor Chat to over 25,000 people and Doctor Video Call to 3000 people and is still continuing to do so. Every doctor consultation is conducted with a MBBS doctor and all these services can be easily accessed by clicking on https://care.dh.health/.
                In order to avoid anxiety due to confusion from similar flu symptoms, patients can also use the Corona Symptom Checker whereby answering a few easy questions, they will be able to assess their risk of contracting Covid-19 and if required then get tested . Since its launch in mid-April, so far more than 300,000 people have already used the Corona Symptom Checker and received medical recommendations.
                Since the inception of this service, patients from rural areas such as Jessore, Pabna, Keraniganj, Shibchar, Natore and Sirajganj have greatly benefited from it and are the majority number of customers amongst all.
                Corona insurance under the Corona Care Service had been the most popular and the first claims of this insurance have already been paid to the patients. The patients are being provided cash coverage for-
                <ul>
                    <li>Positive Covid-19 Test Result and Home Isolation- Tk.2000</li>
                    <li>Hospitalization- Tk.5000</li>
                    <li>Life Insurance- Tk. 20,000</li>
                </ul>
            </p>
        </div>
    </div>
</div>



<div class="modal modal_multi">
    <!-- Modal content -->
    <div class="custom-modal">
        <span class="close close_multi">×</span>
        <img class="img-fluid border-redious p-3 w-100" src="/images/sustainableImpacts/sustainableImpacts/Helping Diabetic Patients through PSP.jpg" alt="image">

        <div class="border-redious p-3">
            <h4 class="card-subtitle text-left ">Diabetic Programmes</h4>
            <h1 class="card-title text-left ">Helping Diabetic Patients through PSP</h1>
            <p class="text-justify">
                According to the International Diabetes Federation, some 8,372,200 adults suffer from diabetes in Bangladesh. A diabetes patient can face life-threatening complications like heart attack, stroke, damages in kidney and nerve system, and blindness if not properly treated and with an increasing number of Diabetic cases in the country especially in the urban areas, it is a rather big concern. <br />
                In order to help diabetic patients, DH has partnered with Sanofi Aventis where patients who use Sanofi’s Lantus Insulin, receive support through the Patient Support Program.
                Started in April of 2019, so far DH has been able to serve over 350 patients through its tele-counselors and field counselors where the tele-counselors provide telemedicine services over the phone on the management of diabetes and the field-counselors provide in-house services by showing them the proper ways of taking insulin and other medicines and/or treatment for diabetes.<br />
                Through this program, DH aims to ensure that no one suffers from any complications regarding Diabetes as if effectively managed, a diabetic patient can very easily live a long and healthy life.
            </p>
        </div>
    </div>
</div>



<!-- The Modal -->
<div class="modal modal_multi">
    <!-- Modal content -->
    <div class="custom-modal">
        <span class="close close_multi">×</span>
        <img class="img-fluid border-redious p-3 w-100" src="/images/sustainableImpacts/Read More/Providing Healthcare Packages Through Scratch Cards -02.png" alt="image">
        <div class="border-redious p-3">
            <h4 class="card-subtitle text-left ">Innovation</h4>
            <h1 class="card-title text-left ">Providing Healthcare Packages Through Scratch Cards</h1>
            <p class="text-justify">
                One of the biggest problems faced by the poor and rural people of Bangladesh is even though healthcare services are available, they might not always be easily accessible for them due to various reasons. And this lack of accessibility of the healthcare services often leads them to ignore health issues which later on becomes serious and fatal in some cases even though treatment in the initial stages could have easily resolved them.
                <br />
                Therefore, to make the healthcare services more easily accessible to the poor and rural people of Bangladesh, DH has introduced buying of their packages through scratch cards, similar to buying mobile phone credit.  By purchasing these packages at a very minimal cost (sometimes less than $1), people will be able to consult with doctors remotely via chat, call or video call and be eligible to get health cashback on expenditure made in regard to their health.
                <br />
                Since the people of Bangladesh are already familiar with the concept of scratch cards, the services of DH can reach even the most rural area of the country and can be accessed by people with limited knowledge regarding technology. This is the first time such an initiative has been introduced in the world.
                <br />
                Besides their own packages, DH has partnered with the likes of Grameen Bank which has over 9 million clients (mostly women from extremely rural areas), to introduce this concept of digital healthcare packages to the extremely poor and rural people of Bangladesh.
            </p>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal modal_multi">
    <!-- Modal content -->
    <div class="custom-modal">
        <span class="close close_multi">×</span>
        <img class="img-fluid border-redious p-3 w-100" src="/images/sustainableImpacts/sustainableImpacts/DH Launches the Country’s First Triage and Sample Collection Booth.jpg" alt="image">

        <div class="img-fluid border-redious p-3">
            <h4 class="card-subtitle text-left ">COVID-19</h4>
            <h1 class="card-title text-left ">DH Launches Country’s 1st COVID-19 Sample Collection Booth</h1>
            <p class="text-justify">
                Digital Healthcare Solutions (DH) along with the Institute for Developing Science and Health Initiatives (ideSHi) and Mugda Medical College Hospital (MuMCH) has jointly launched the country’s first one-stop digital booth for COVID-19 screening and testing, in June. The booth is a unique success story as it has conducted more than 8000 tests free of cost and provided the reports within 24-48 hours by email, SMS or printed copies.
                <br />
                The booth was built using design guidelines developed by the Institute of Architects Bangladesh (IAB), who have adapted successful designs from Korea and other countries for the Bangladeshi context to ensure quality and safety of both the patients and medical technologists.
                <br />
                In order to maintain efficiency and ensure optimal usage of resources , patients were first required to undergo a video-consultation with a physician and then only the ones with symptoms of COVID-19 could proceed forward to the nearby DH sample collection booth to get tested. To prevent the spread of infection from the patients, the entire process of conducting the test was done with proper infection control precautions such as using full PPE, maintaining social-distancing while waiting in queue and disinfecting the waiting area at regular intervals.
                <br />
                While Mugda Medical College Hospital provided operational support, ideSHi conducted the laboratory testing of the COVID-19 samples.
                <br />
                Finally, after 4 months of  successful operation the booth has now been handed over to DGHS to further continue its operation.
            </p>
        </div>
    </div>
</div>
