@{
    ViewData["Title"] = "Instruction";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section Styles{
    <style>
        span {
            padding-left: .5rem;
            padding-right: .5rem;
        }
    </style>
}

<div class="row justify-content-center">
    <div class="col-lg-8 pb-3">
        <h1>Image Size</h1><span>(**Follow this instructions before upload a image)</span>
    </div>
    <div class="col-lg-8">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Dimensions</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Page Banner </td>
                    <td>1920*640</td>
                </tr>
                 <tr>
                    <td>Home Page Card </td>
                    <td>348*307</td>
                </tr>
                <tr>
                    <td>Home Gallery Large </td>
                    <td>307*492</td>
                </tr>
                <tr>
                    <td>Home Gallery Other </td>
                    <td>232*226</td>
                </tr>
                <tr>
                    <td>Who We Are => OUR MISSION </td>
                    <td>507*663</td>
                </tr>
                <tr>
                    <td>Who We Are => CEO </td>
                    <td>560*353</td>
                </tr>
                <tr>
                    <td>OUR SERVICES => Your Health, Our Priority </td>
                    <td>446*639</td>
                </tr>
                <tr>
                    <td>Partner With Us => Our Corporate Solutions </td>
                    <td>256*226</td>
                </tr>
                <tr>
                    <td>Partner With Us => See What Our Clients Have to Say</td>
                    <td>96*96</td>
                </tr>
                <tr>
                    <td>Career => Life at DH</td>
                    <td>500*302</td>
                </tr>
                <tr>
                    <td>Career => Our Management Team</td>
                    <td>150*150</td>
                </tr>
                <tr>
                    <td>Career => Our Employee Experience</td>
                    <td>169*169</td>
                </tr>
                <tr>
                    <td>News Large Image</td>
                    <td>884*278</td>
                </tr>
                <tr>
                    <td>News Medium Image</td>
                    <td>276*156</td>
                </tr>
                <tr>
                    <td>News Small Image</td>
                    <td>73*64</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>


