.card {
    padding: 1rem;
    min-height: 26rem;
    height: 100%;
    border: none;
    border-radius: 1rem;
}
.card img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #F2F2F7;
    align-self: center;
}
.employee .card {
    min-height: 33rem;
    height: 100%;
}
.employee .card img {
    width: 9rem;
    height: 9rem;
}
.play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.jobs table tbody tr {
    background-color: #ffffff;
    box-shadow: 8px 8px 40px #DFDFE8;
    border-radius: 10px;
    cursor: pointer;
}
.jobs table {
    border-collapse: separate;
    border-spacing: 0 1rem;
}
.jobs table td a {
    text-decoration: none;
    color: #2F8E9B;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.PopUpModal .modal-dialog {
    max-width: 72rem;
}
.line-height {
    padding-right: 30%;
    line-height: 2.5;
}
.post-logo {
    position: absolute;
    right: 0;
    top: -8rem;
}
.r-block {
    width: 6rem;
    position: fixed;
    left: 0;
}
.padding-left {
    padding-left: 6rem;
}
.readBtn {
    background: #2F8F9C;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 6rem .5rem 6rem;
    margin: 5rem 0rem 4rem 0rem;
    z-index: 55;
    position: relative;
}
#apply-now form {
    background: #FFFFFF;
    border-radius: 20px;
    width: 23rem;
    border: 1px solid #7B7B7B;
    display: flex;
    flex-flow: column nowrap;
}
#apply-now form .form-group {
    padding: 2rem 3rem 0rem 2rem;
}
#apply-now form input {
    border: unset;
    border-bottom: 1px solid #2F8E9B;
    border-radius: unset;
}
#custom-button {
    background: #2F8F9C;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0.3rem 3rem .3rem 3rem;
    margin-top: 3rem;
    cursor: pointer;
}
#custom-button:hover {
    box-shadow: 0px 0px 30px rgba(33, 33, 33, 0.2);
    border: none;
}
#custom-text {
    margin-left: 10px;
    color: #aaa;
}
#submitBtn {
    width: 10rem;
    margin: 6rem 1rem 3rem 1rem;
    background: #2F8F9C;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    align-self: flex-end;
}
.PopUpModal .footer-star {
    bottom: 0rem;
    z-index: 0;
    height: 35rem;
}
.shareBtn {
    width: 2.5rem;
}
.popover-block-container {
    position: relative;
    z-index: 11;
    display: inline-block;
    color: #464344;
}
.popover-block-container .popover-body h5 {
    color: #464344;
    font-family: 'Roboto';
    font-weight: normal;
}
.social-icon {
    background-color: #464344;
    width: 3rem;
    height: 3rem;
    padding: .7rem 0rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    border-radius: 50%;
}
.header-content-without-card {
    padding-bottom: 5rem;
}
.margin-top-share-image {
    margin-top: 1rem;
}
.jobs .margin-top-share-image {
    margin-top: .6rem;
}
.titlesmall {
    padding-top: 0rem;
    margin-bottom: 0.75rem;
}

/*-----------------Media Query-----------------*/
@media (max-width: 992px) {
    .col-lg-3 {
        text-align: center;
    }

    .modal-dialog {
        width: auto;
    }

    .modal-content {
        width: 90%;
    }

    .line-height {
        padding-right: unset;
    }

    #submitBtn, .PopUpModal form {
        width: auto;
    }

    .readBtn {
        padding: 0.5rem 5rem .5rem 5rem;
        margin: 1rem 0rem 1rem 0rem;
    }

    .r-block {
        width: 3.5rem;
        position: absolute;
        left: -1rem;
    }

    .padding-left {
        padding-left: 2.8rem;
    }

    .margin-top-share-image {
        margin-top: 0rem;
    }

    .header-content-without-card {
        padding-bottom: 0rem;
    }

    .dh-image p {
        text-align: left;
    }

    .table td, .table th {
        padding: 0.8rem;
    }

    td:nth-last-child(2) {
        border-right-style: solid;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    .padding-title h4, h1{
        margin: 0rem;
    }
    .description{
        text-align: left;
    }
    .card-padding{
        padding-bottom: 0.5rem;
    }
    .card {
        padding: 0.5rem;
        min-height: auto;
        height: 100%;
        border: none;
        border-radius: 1rem;
    }
    .titlesmall {
        padding-top: 0.5rem;
        margin-bottom: 0.75rem;
    }
    .dh-image img{
        width: 15rem;
        padding-bottom: 0.5rem;
    }
    .life-dh {
        padding: 1.5rem;
        display: block;
    }
}